@import url("d3/lib/jquery-ui/jquery-ui.css");

body {
	background-color: #ededed;
	font-size: 16px;
	font-family: 'Ovo', helvetica, sans-serif;
	font-weight: 400;
}

h1 {
	display: block;
	font-size: 3em;
	font-family: 'Open Sans';
	font-weight: 300;
	margin-bottom: 0.3333333em;
	margin-top: 0.333333em;
}

p {
	margin-bottom: 1em;
}

h1 strong {
	font-weight: 400;
}

strong {
	font-family: 'Open Sans';
	font-weight: 700;
}
.sans {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 0.8em;
}

div.2ndRow {
	margin-top: 20px;
}

p.caption {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 0.8em;
}



/*SVG styles*/

line.path {
	stroke: black;
	shape-rendering: ;
}

.back {
	fill: #fff;
	stroke: #000;
	stroke-width: 2px;
  	shape-rendering: crispEdges;
}

#plot-scatter circle {
	fill: red;
	opacity: 0.5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid path, .grid line {
	fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

line.regression {
	stroke: red;
	stroke-width:2px;
}
